/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html, #root {
  height: 100%; }

.portfolio {
  width: 100vw;
  height: 100%;
  background: linear-gradient(white, #91ADD0 200%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: auto; }
  .portfolio .page-title {
    font-family: lato;
    font-size: 8vmin;
    font-weight: 300;
    color: #333333;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    opacity: 0; }
  .portfolio .pli-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0; }
    .portfolio .pli-grid .pli {
      display: flex;
      flex-direction: column;
      max-width: 45vw;
      margin: 0.25vmin; }
      .portfolio .pli-grid .pli .pli-title {
        font-family: Raleway;
        font-size: 4vmin;
        letter-spacing: 1.2vmin;
        color: #4D4D4D;
        position: absolute;
        transform: translate(50%, 200%); }
      .portfolio .pli-grid .pli .pli-description {
        font-family: Raleway;
        font-size: 2.5vmin;
        color: #4D4D4D; }
      .portfolio .pli-grid .pli .thumbnail {
        width: 100%;
        max-width: 50vmin;
        height: auto; }
      .portfolio .pli-grid .pli .thumbnail:hover {
        opacity: 0.2; }

.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(white, #91ADD0 200%);
  display: grid;
  grid-template: 3rem 1.3fr 3rem 0.5fr 0.5fr 1fr / 3rem 1fr 3rem; }
  .app .support-warning {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px; }

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 1; }
  .menu #ham {
    cursor: pointer;
    /*		position: absolute;
    		left: 2.8rem;
    		top: 3rem;*/ }
    .menu #ham #top, .menu #ham #mid {
      height: 3px;
      width: 25px;
      margin-bottom: 4px;
      background-color: #333333; }
    .menu #ham #bottom {
      height: 3px;
      width: 25px;
      background-color: #333333; }
    .menu #ham #X {
      height: 17px;
      width: 25px;
      position: absolute;
      transform: translateY(-17px);
      opacity: 0; }
  .menu p {
    margin-right: 5rem; }
  .menu span {
    margin-left: 10%; }

.drop-down {
  position: absolute;
  left: 3rem;
  top: 5rem;
  opacity: 0;
  z-index: 10; }
  .drop-down a {
    margin-bottom: 2rem;
    text-decoration: none;
    color: #333333;
    font-family: lato; }

.name-title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 2;
  font-family: lato;
  font-size: 8vmin;
  font-weight: 300;
  color: #333333;
  z-index: 0;
  opacity: 0;
  top: -10%; }

.spacer-box {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.spacer {
  border-bottom: 1px solid grey;
  width: 48vmin; }

.name-subtitle {
  display: flex;
  position: relative;
  justify-content: center;
  grid-column: 2;
  grid-row: 4;
  font-family: Raleway;
  font-size: 2.5vmin;
  letter-spacing: 1.2vmin;
  color: #4D4D4D;
  opacity: 0;
  top: 10%; }

.interactions-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  grid-column: 2;
  grid-row: 5; }
  .interactions-box span {
    margin-left: 8vmin;
    margin-right: 8vmin; }
  .interactions-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vmin;
    width: 7vmin; }
  .interactions-box .logo-img {
    height: 7vmin;
    width: auto;
    opacity: 0; }

/*# sourceMappingURL=app.css.map */
