@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway');

// Monochromatic center #4C6484

body, html, #root {
	height: 100%;
}

.portfolio {
	width: 100vw;
	height: 100%;
	background: linear-gradient(white, #91ADD0 200%);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	overflow-y: auto;

	.menu {
		position: absolute;
		left: 2.8rem;
		top: 2rem;
	}

	.page-title{
		font-family: lato;
		font-size: 8vmin;
		font-weight: 300;
		color: #333333;
		margin-top: 4vmin;
		margin-bottom: 4vmin;
		opacity: 0;
	}

	.pli-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		opacity: 0;
		width: 90vw;
		
		.pli {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 25vw;
			margin: 1vmin;
			box-sizing: border-box;
			box-shadow: 0px 0px 20px -3px grey;
			border: 2px solid grey;


			.pli-title{
				width: 25vw;
				text-align: center;
				font-family: Raleway;
				font-size: 2vw;
				letter-spacing: 1.2vmin;
				color: #4D4D4D;
				position: absolute;
			}

			.pli-description {
				font-family: Raleway;
				font-size: 2.5vmin;
				color: #4D4D4D;
			}

			.thumbnail {
				box-sizing: border-box;
				width: 100%;
				height: auto;
			}

			.thumbnail:hover {
				opacity: 0.2;
			}
		}
	}

}

.app {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(white, #91ADD0 200%);
	display: grid;
	grid-template: 3rem 1.3fr 3rem 0.5fr 0.5fr 1fr / 3rem 1fr 3rem;

	.support-warning {
		color: red;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
}

.menu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	grid-column: 2;
	grid-row: 1;

	#ham {
		cursor: pointer;
/*		position: absolute;
		left: 2.8rem;
		top: 3rem;*/

		#top, #mid {
			height: 3px;
			width: 25px;
			margin-bottom: 4px;
			background-color: #333333;
			opacity: 0;
		}

		#bottom {
			height: 3px;
			width: 25px;
			background-color: #333333;
			opacity: 0;
		}

		#X {
			height: 17px;
			width: 25px;
			position: absolute;
			transform: translateY(-17px);
			opacity: 0;
		}
	}

	p {
		margin-right: 5rem;
	}

	span {
		margin-left: 10%;
	}
}

.drop-down {
	position: absolute;
	left: 3rem;
	top: 5rem;
	opacity: 0;
	visibility: hidden;
	z-index: 10;

	a {
		margin-bottom: 2rem;
		text-decoration: none;
		color: #333333;
		font-family: lato;
		font-size: 1.9vmin;
	}
}

.name-title {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	grid-column: 2;
	grid-row: 2;
	font-family: lato;
	font-size: 8vmin;
	font-weight: 300;
	color: #333333;
	z-index: 0;

	opacity: 0;
	top: -10%;
}

.spacer-box {
	grid-column: 2;
	grid-row: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spacer {
	border-bottom: 1px solid grey;
	width: 48vmin;
}

.name-subtitle {
	display: flex;
	position: relative;
	justify-content: center;
	grid-column: 2;
	grid-row: 4;
	font-family: Raleway;
	font-size: 2.5vmin;
	letter-spacing: 1.2vmin;
	color: #4D4D4D;

	opacity: 0;
	top: 10%;
}

.interactions-box {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	grid-column: 2;
	grid-row: 5;

	span {
		margin-left: 8vmin;
		margin-right: 8vmin;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 7vmin;
		width: 7vmin;
	}

	.logo-img {
		height: 7vmin;
		width: auto;

		opacity: 0;
	}
}
